section.new-tweet {
  background-color: #f6f6f6;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  display: block;
  margin: 5px 20px 5px 20px;
  padding: 0px 20px 20px 20px;
}

section.new-tweet .compose-container {
  display: none;
}

section.new-tweet .toggle {
  background: #f6f6f6;
  border: none;
  float: right;
  height: 25px;
  right: 10px;
  top: 0;
  width: 25px;
  visibility: hidden;
}

section.new-tweet:hover .toggle {
  color: #244751;
  border-width: 1px;
  visibility: visible;
}

section.new-tweet .textarea {
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  display: block;
  height: 64px;
  padding: 4px;
  width: 100%;
}

section.new-tweet .compose-header {
  display: block;
  border-bottom: 1px solid #585959;
}


section.new-tweet .counter {
  display: block;
  float: right;
}

section.new-tweet .counter.max {
  color: #ff0707;
}

section.new-tweet .tweet-button {
  display: block;
  float: left;
}

section.new-tweet .tweet-lower {
  display: block;
  overflow: auto;
  padding-top: 16px;
  width: 100%;
}

section.new-tweet .alerts {
  color: #ff0707;
  display: inline-block;
  margin-left: 10px;
}

.counter:after {
  clear: both;
}
